<% provide :title, 'About Us' %>

<h1>About Us</h1>
<p>
  Chirrups is a project on
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
Chirrups helps you create and share ideas and information instantly, without barriers.
Its the best way to connect with people, express yourself and discover what's happening</p>