<% provide(:title, "Confirmed Activated") %>
<h1>You are activated</h1>

<p>congrats. Ur email has been successfully confirmed and u r an active member of this site. Please login and continue enjoying ur time. Thank You</p>