<% provide(:title, "All users") %>
<h1>All users</h1>
<%= render 'searchForm' %>
<%= will_paginate %>
<% if @users.any? %>
	<ul class="users span12">
		<%= render @users %>
	</ul>
<% else %>
	<p class="clearfix">"Sorry no users exist with that name or userid"</p>
<% end %>

<%= will_paginate %>
