<div class="center hero-unit">
  <h1>Welcome to Chirrups.</h1>

  <h2>
    Start a conversation, explore your interests.
  </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

<p>Hi and welcome to Chirrups. This is basically a website built upon the resulting application from following Michael Hartl's tutorial at http://railstutorial.org/book.</p>

<h3>What's been added?</h3>
<p>On chapter 12 of the said tutorial, Mike listed possible extensions to the application, which a follower can work on. He said, "implementing one or more of these application extensions will help you make the transition from following a tutorial to writing original applications of your own."</p>

<p>Here's what's been added so far. I'm currently working on the last three extensions.

<ul class="list-group">
	<li class="list-group-item">Replies</li>
	<li class="list-group-item">Messaging</li>
	<li class="list-group-item">Follower notifications</li>
	<li class="list-group-item">Password reminders</li>
	<li class="list-group-item">Signup confirmation</li>
</ul>
</p>
<h3>Show me the codes!</h3>
<p>If you came here to see how far this application has gone from the original version, please visit <br/> <a href="https://github.com/abhay-github/sample_app4/compare/original-version...master" class="btn btn-danger btn-large">here</a> </p>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>